body{
  background-image:url("8.jpg");
  background-position:center;
  background-repeat:repeat;
  background-size:cover;
 }
 #p1{ color:red;
  font-size:150%;
 }
 .t1{ border-color:teal;
 color:teal;
 background-color:#Cb1724;
 }
 #p2{
   font-size:150%;
 }
 #heading{
   font-size: 250%
 }
 #heading2{
   background-color:teal;
 }
